@model Testimonial

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Testimonial</h4>
                        <form class="forms-sample" method="post" asp-controller="Testimonial" asp-action="Update" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Decription</label>
                                <textarea asp-for="Desc" class="form-control" placeholder="Decription"></textarea>
                                <span asp-validation-for="Desc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Faculty</label>
                                <input asp-for="Faculty" class="form-control" placeholder="Faculty"/>
                                <span asp-validation-for="Faculty" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>AcademicDegree</label>
                                <input asp-for="AcademicDegree" class="form-control" placeholder="AcademicDegree"/>
                                <span asp-validation-for="AcademicDegree" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Order</label>
                                <input asp-for="Order" class="form-control" placeholder="TitleH2"/>
                                <span asp-validation-for="Order" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input asp-for="ImageFile" class="form-control" placeholder="TitleH2"/>
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label>Image</label>
                                <input asp-for="Image" class="form-control" placeholder="Image"/>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-controller="Testimonial" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>