@model ChangePasswordViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Change password of user : @ViewBag.UserName</h4>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form class="forms-sample" method="post" asp-controller="User" asp-action="ChangePassword">
                            <div class="form-group">
                                <label>OldPassword</label>
                                <input asp-for="OldPassword" class="form-control" placeholder="OldPassword">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label >NewPassword</label>
                                <input asp-for="NewPassword" class="form-control" placeholder="NewPassword">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label >ConfirmNewPassword</label>
                                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="ConfirmNewPassword">
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>