@model EventPostVM

@{
    ViewBag.Title = "Update";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Event</h4>
                        <form class="forms-sample" method="post" asp-controller="Event" asp-action="Update" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Event Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Time</label>
                                <input asp-for="Time" class="form-control" placeholder="Time"/>
                                <span asp-validation-for="Time" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>About </label>
                                <textarea asp-for="About" class="form-control" placeholder="About"></textarea>
                                <span asp-validation-for="About" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Venue</label>
                                <input asp-for="Venue" class="form-control" placeholder="Venue"/>
                                <span asp-validation-for="Venue" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input asp-for="Date" class="form-control" placeholder="Date"/>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Categories</label>
                                <select class="form-control" asp-for="CategoryIds">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryIds" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input asp-for="ImageFile" class="form-control" placeholder="ImageFile"/>
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-controller="Event" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#CategoryIds').select2();
        });
    </script>
}