@model Category

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update new Category</h4>
                        <form class="forms-sample" method="post" asp-controller="Category" asp-action="Update">
                            <div class="form-group">
                                <label>Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Count</label>
                                <input asp-for="Count" class="form-control" placeholder="Count"/>
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-controller="Category" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>